@import url('https://fonts.googleapis.com/css?family=Pixelify Sans');

body {
    font-family: Pixelify Sans;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #E8F8F5;

}

.topbar {
    background-color: #067A7B;
    border-style: solid;
    border-width: 1.5vh;
    border-color: #067A7B;
}

.topbar ul {
    display: flex;
    flex-direction: row;
    width: auto;
    padding-inline: 5vh;
    list-style-type: none;
    gap: 5vh;
    justify-content: flex-end;
    align-items: center;
}

.topbar li {
    font-size: x-large;
}

.topbar a {
    color: white;
    text-decoration: none;
}

.topbar a:hover {
    text-decoration: underline;
}

section {
    background-color: #E8F8F5;
    margin: 0;
    padding: 0;
}

.second {
    background-color: #067A7B;
}

.majorContent {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-inline: auto;
    border: 2vh;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1.5vh;
    border-color: #81B622;
    margin-block: 4vh;
    padding-inline: 8vh;
}

.majorContent h1 {
    display: flex;
    justify-content: center;
    margin-block: 2vh;
}

.majorContent2 {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-inline: auto;
    border: 2vh;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1.5vh;
    border-color: #81B622;
    margin-block: 4vh;
    padding-inline: 8vh;
}

.majorContent2 h1 {
    display: flex;
    justify-content: center;
    margin-block: 2vh;
}

.map {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-inline: auto;
    border: 2vh;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1.5vh;
    border-color: #81B622;
    margin-block: 4vh;
}

.mapInfo {
    padding: 5vh;
    font-size: x-large;
    font: bold;
}

.minorContent {
    display: flex;
    flex-direction: column;
    padding: 1vh;
    margin-block: 1vh;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1.5vh;
    border-color: #81B622;
}

.minorContent h2 {
    display: flex;
    justify-content: center;
    margin-block: 2vh;
}

.card {
    display: flex;
    flex-direction: column;
    width: auto;
    min-width: 30vh;
    max-width: 50vh;
    margin-inline: auto;
    padding: 1vh;
    margin-block: 1vh;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1.5vh;
    border-color: #81B622;
    border-radius: 4vh;
    box-shadow: #067A7B;
}

.card h2 {
    display: flex;
    justify-content: center;
    margin-block: 2vh;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.details h3 {
    display: flex;
    justify-content: center;
}

.smallBox {
    display: flex;
    flex-direction: column;
    justify-self: auto;
    margin: 1vh;
    justify-content: center;
}

.smallBox p {
    display: flex;
    justify-self: center;
}

.footer {
    text-align: center;
    padding: 2rem;
    margin-top: 3rem;
    background-color: #D1FF7E;
    border-top: 1rem solid #81B622;
}



@media (max-width: 40rem) {
    .details {
        display: flex;
        flex-direction: column;
    }

    .topbar ul {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding-inline: 0;
    }

    .topbar li {
        font-size: 1.2rem;
    }

}